@import '../../styles/variables.sass'

.sellerSignUpWrapper
  margin: 1rem auto 2rem auto
  display: flex
  flex-direction: column
  align-items: center
  .signUpHeading
    margin-bottom: 20px
  > label
    max-width: 80%
    margin-bottom: 20px
  .backLink
    font-size: 1.1rem
    color: $grey
    cursor: pointer
    align-self: flex-start
    transition: color .2s
    font-weight: 500
    span.small
      svg
        transform: rotateZ(90deg)
        transition: color .2s
        fill: $grey
        font-weight: 800
    &:hover, &:active
      color: $black
      span svg
        fill: $black
.sellerInputWrapper
  width: 80%
  margin-bottom: 30px
  align-items: center
  input
    min-width: 200px
  label
    margin-top: 20px
  .sellerInputDiv
    padding: 15px 20% 15px 20%
    display: flex
    flex-direction: column
    justify-content: center
    width: 100%
    input
      margin-left: 15%
      margin-right: 15%
  .uploadButton
    &:hover
      color: $grey
    margin-top: 0
    cursor: pointer
    margin-left: 5%
    .labelContent
      align-items: center
      padding: 2px
      display: flex
      > img
        margin-right: 10px
  .uploadImageWrapper
    padding: 20px
    width: 100%
    border-bottom: 1px solid #E6E6E6
    border-top: 1px solid #E6E6E6
    display: flex
    flex-direction: row
    justify-content: center
    align-items: center
    flex-wrap: wrap
    margin-bottom: 20px
    margin-top: 20px
.sellerBtnWrapper
  width: 70%
  margin-top: 35px
  padding-top: 30px
  border-top: 1px solid #E6E6E6
.imgPreview
  text-align: center
  // flex: 1
  min-height: 154px
  min-width: 154px
  border-radius: 80px
  margin: 15px
  border: double 2px #555555
  box-shadow: 0px 9px 78px -9px #dcdcdc
  align-content: center
  display: flex
  align-items: center
  justify-content: center
  img
    border-radius: 80px
    padding: 2px
    width: 150px
    height: 150px
    object-fit: cover
